
<div class="container">
    <div class="container__header _big-container">
        <div class="header__logo">
            <a class="header__logo__link" href="http://">Контрагентам</a>
            <a class="header__logo__link" href="http://">Дизайнерам</a>
            <a class="header__logo__link" href="http://">Вакансии</a>
            <div class="header__logo__img">
                <img src="../../assets/img/logo/logo.png" alt="photo">                
            </div>
            <a class="header__logo__link header__logo__find-all" href="http://"><img src="../../assets/img/header/find.png" class="header__logo__link__find">Поиск</a>
            <a class="header__logo__link" href="http://">Вход\Регистрация</a>
            <a class="header__logo__link" href="http://"><img src="../../assets/img/header/chosen.png" alt="chosen"></a>
            <a class="header__logo__link" href="http://"><img src="../../assets/img/header/persona.png" alt="persona"></a>
        </div>
    </div>
    <div class="container__content">
        <div class="content__tagline"><h3>Долго, дорого, богато</h3></div>
        <button class="content__button">Каталог изделий</button>
    </div>
    <div class="container__banner">
        <img  class="container__banner__img" src="../../assets/img/header/cocojewerly.png" alt="cocojewerly">
        <img  class="container__banner__img" src="../../assets/img/header/cocojewerly.png" alt="cocojewerly">
        <img  class="container__banner__img" src="../../assets/img/header/cocojewerly.png" alt="cocojewerly">
        <img  class="container__banner__img" src="../../assets/img/header/cocojewerly.png" alt="cocojewerly">
        <img  class="container__banner__img" src="../../assets/img/header/cocojewerly.png" alt="cocojewerly">
        <img  class="container__banner__img" src="../../assets/img/header/cocojewerly.png" alt="cocojewerly">
    </div>
</div>
