
<div class="container">
    <div class="header">
        <p class="burger"><a href=""><img src="assets/img/header/burger.svg" alt=""></a></p>        
        <div class="left">
           <p><a class="link" href="">Контрагентам</a></p>
            <p><a class="link" href="">Дизайнерам</a></p>
            <p><a class="link" href="">Вакансии</a></p>   
        </div>
        <div class="logo">
            <img src="assets/img/logo/logo.svg" alt="">
        </div>
        <div class="right">
            <div class="find">
                <img class="findIMG" src="assets/img/header/find.svg" alt="">
                <p><a href="">Поиск</a></p>
            </div>
            <p><a class="registration" href="">Вход/Регистрация</a></p>
            <p class="headerIMG"><a href=""><img src="assets/img/header/chosen.png" alt=""></a></p>
            <p class="headerIMG"><a href=""><img src="assets/img/header/persona.png" alt=""></a></p>
        </div>

    </div>
</div>
