._container{
    display: flex;
    justify-content: center;
    max-width: 941px;
    margin: 0px auto;
}

._big-container{
    display: flex;
    justify-content: center;
    max-width: 1438px;
    margin: 0px auto;
}