
<div class="container">
    <img class="background" src="assets/img/background/bgc.png" alt="">    
    <div class="start-page">
        <div class="text">
            <div class="slogan">
                <p>Долго, дорого, богато!</p>                
            </div>
            <div class="button">
                <button type="submit">Каталог изделий</button>
            </div>
        </div>
        <div class="coco">
            <div class="cocoIMG">
                <img src="assets/img/header/cocojewerly.png" alt="">
            </div>

            <div class="cocoIMG">
                <img src="assets/img/header/cocojewerly.png" alt="">
            </div>

            <div class="cocoIMG">
                <img src="assets/img/header/cocojewerly.png" alt="">
            </div>

            <div class="cocoIMG">
                <img src="assets/img/header/cocojewerly.png" alt="">
            </div>

            <div class="cocoIMG">
                <img src="assets/img/header/cocojewerly.png" alt="">                
            </div>

            <div>
                <img class="cocoIMGlast" src="assets/img/header/cocojewerly.png" alt="">
            </div>
        </div>
    </div>


</div>

