/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Gilroy-ultralight;
    src: url(assets/fonts/gilroy-ultralight.ttf);
}

@font-face {
    font-family: Gilroy-regular;
    src: url(assets/fonts/gilroy-regular.ttf);
}

@font-face {
    font-family: Gilroy-medium;
    src: url(assets/fonts/gilroy-medium.ttf);
}

@font-face {
    font-family: NotoSerif-Regular;
    src: url(assets/fonts/NotoSerif-Regular.ttf);
}

@font-face {
    font-family: NotoSerif-Bold;
    src: url(assets/fonts/NotoSerif-Bold.ttf);
}